body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home page ------------------------------------------------*/
/* .subtitle {
    
} */

.dogs-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dogs-list-and-details-container {
    display: flex;
    justify-content: space-evenly;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.list-item {
    margin: 10px 0;
}
.walker-detail-list {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 150px;
}

.update-cities-container {
    display: flex;
    flex-direction: column;
}
/* ----------------------------------------------------------*/